.div-footer-items > a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.ul-footer {
    list-style-type: none;
}

html, body {
    height: 100%;
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}

.footer {
    background-color: #4C576C;
}
