    /* MeusIngressos.css */
#lista_ingressos {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#campo-filtro {
    display: flex;
    justify-content: center; /* Centraliza o componente CampoFiltro */
    margin-bottom: 20px; /* Adiciona um espaçamento inferior */
}

.input-group {
    width: 100%; /* Define a largura máxima do grupo de entrada */
}

.input-group-text {
    min-width: 20px; /* Define a largura mínima do ícone de busca */
}

#input-filtro {
    flex: 1; /* Ocupa o espaço restante */
}

#box-all{
    height: 60vh;
    margin: 0 auto;
    width: 70%;
    margin-top: 50px;
}


@media (max-width: 767px) {
    .campo-filtro {
        max-width: 300px;
    }

    #box-all{
        width: 100%;
    }

    .input-group-text {
        min-width: 40px; /* Reduz a largura mínima do ícone de busca em dispositivos menores */
    }
}

h3{
    margin-bottom: 30px;
    text-align: left;
}

ul{
    width: 100%; /* Garante que a lista ocupe toda a largura do contêiner pai */
    padding-inline-start: 0; /* Remove o recuo padrão da lista */
    display: flex; /* Ativa o layout flexível */
    flex-wrap: wrap; /* Permite que os ingressos quebrem para a próxima linha quando necessário */
    justify-content: center; 
}

li {
    display: inline-block;
}

.texto-aviso{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}



