.body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 900px;
}

.imagem_lado_esquerdo {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 60px;
    margin-top: -150px;
}

.imagem_lado_esquerdo img {
    margin-top: 100px;
}

.lado_direito {
    width: 60%;
    height: 100%;
    text-align: left;
    margin: 80px;
    margin-top: 350px;
}

.perfil h1{
    width: 100%;
    justify-content: center;
  

}

.line {
    background-color: #bab9b9;
    width: 2px;
    height: 600px;
    margin-top: 0px;
}

.nome {
    font-size: 20px;
    margin-top: 40px;
}


@media screen and (max-width: 932px) {
    .body {
        flex-direction: column;
         display: flex;
    }

    .imagem_lado_esquerdo {
        
        height: auto;
        display: flex;
        margin-top: -350px;
    }
    .imagem_lado_esquerdo h1{
        margin-left: 80px;
    }

    .imagem_lado_esquerdo img {
        width: 250px;
        height: 250px; 
        margin-left: 80px;
    }

    .lado_direito {
        width: 50%;  
        margin-bottom: 100px;
        margin-top: 40px;
        
    }

    .perfil {
      margin-bottom: px;
   
    }


    .line {
        display: none; 
    }
}

