.card_inicio {
    padding: 16px;
    margin: auto;
    background-color: #EEEEEE;
    border-radius: 20px;
    color: black;
    margin-bottom: 20px;
    transition: 0.2s;
    cursor: pointer;
}

.card_inicio:hover {
    transform: scale(1.05);

}

.card_inicio>img {
    margin: 20px 20px;
    width: 90%;
    height: auto;
    gap: 50px;
}

.card_inicio {
    background-color: #EEEEEE;
    height: 440px;
    width: 330px;
    align-items: center;
    margin: 10px auto;
    border-radius: 5%;
}

a {
    text-decoration: none;
    color: black;
}