.formulario {
  margin-top: 90px;
}

#evento {
  width: 330px;
  height: 40px;
  border-radius: 20px;
}

.botaol {
  width: 350px;
  height: 40px;
  background-color: #90f477;
  border-color: #90f477;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 15px;
}
/*
@media (max-width: 450px) {
  .botaol {
    width: 220px;
  }
}

@media (max-width: 450px) {
  .formulario {
    margin-top: 90px;
  }
}*/
