.dgt {
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: -40px;
}

.botaovd {
  width: 150px;
  height: 40px;
  background-color: #90f477;
  border-color: #90f477;
  border-radius: 20px;
  margin-top: 60px;
  font-size: 15px;
  margin-left: 30px;
}

.ca {
  width: 300px;
  height: 300px;
  background-color: #eeeeee;
  border-radius: 10px;
  text-align: center;
  margin-left: 25px;
  margin-top: 60px;
  margin-bottom: 25px;
}

#render {
  width: 400px;
  height: 400px;
}
/*
@media (max-width: 450px) {
  .cam {
    margin-left: 100px;
  }
}
*/