.campo-texto {
  margin-bottom: 20px;
}

.campo-texto label {
  display: block;
  margin-bottom: 5px;
}

.campo-texto input {
  width: 100%;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 25px;
  font-size: 16px;
}

.campo-texto input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
